<h1>Index</h1>
<ul>
{{range .}}
  <li>
    <a href="/build/{{slice .Rev 0 10}}" class="build-rev">{{slice .Rev 0 10}}</a>
    [{{.StateName}}]
  </li>
{{end}}
</ul>

<script>
  (function () {
    var es = new EventSource("/updates");
    es.addEventListener("inc", function(e) {
      console.log(e.data);
    });
    window.setTimeout(function () {
      es.close();
    }, 5000);
  })();
</script>
