<!DOCTYPE html>
<html>
  <head>
    <title>Sea</title>
    <style>
      body {
        width: 940px;
        margin: 50px auto;
      }
      .build-rev {
        font-family: monospace;
      }
      #build-result {
        color: #fff;
        background-color: #000;
        border: 2px solid #666;
        padding: 10px;
      }
    </style>
  </head>
  <body>
    {{template "body" $}}
  </body>
</html>
